body{
    background-color: #2b2929;
}

.titulo p{
    text-align: center;
     color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}

.container{
    text-align: center;
    padding: 40px;
}


.input-button input{
     border-color: aquamarine;
     width: 200px;
     padding: 9px;
     border-radius: 5px;
}

.input-button button{
    padding: 9px;
    width: 90px;
    border-style: dashed;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
}